@model HotBug.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNetCore.Identity
@using HotBug.Models.Enums;
@using HotBug.Services.Interfaces

@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="overflow:hidden" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4">

    <!-- Title -->
    <title> Wavey Bug Tracker </title>
    <!-- CSS -->
    <link href="~/css/site.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <title>@ViewData["Title"] - Hotbug</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/hotbug/WaveLogo.png" />
    <script defer src="~/js/app.js"></script>

</head>

<body class="">
    <!-- NAVBAR-->
    <div class=navbar navbar-nav">
        <div class="container-fluid fixed-top bg-light">
            <a class="" asp-action="">
                <img src="~/img/hotbug/WaveyNavCrop2.png" class="header-brand-img desktop-logo ms-md-3"
                     alt="logo" width="90">
            </a>
            <div class="p-3">
                <span class="mobile-hidden">
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn ripple btn-min w-sm btn-dark-outline me-md-2"
                       target="_blank">
                        Register
                    </a>
                </span>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn ripple btn-min w-sm btn-primary me-md-2"
                   target="_blank">
                    Login
                </a>
            </div>
        </div>
    </div>
    <!-- MAIN LANDING PAGE-->
    <div class="overflow-hidden">
        <div class="page">
            <div class="landing-top-header index-bg-image overflow-hidden vh-100">
                <div class="demo-screen-headline">
                    <div class="container px-sm-0 mt-md-5">
                        <div class="row mt-md-4 logos">
                            <div class="col-xl-6 col-lg-6 pos-relative">
                                <h1 class="text-start fw-bold mt-4 mb-0 logo hidden">Wipeout Bugs With</h1>
                                <h1 class="text-start fw-bold logo hidden mb-1">Wavey Bug Tracker</h1>
                                <h4 class="mt-4 logo hidden">
                                    Track tickets and manage projects.
                                </h4>
                                <h4 class="mb-4 logo hidden">
                                    Try the Wavey Demo today!
                                </h4>
                                <div class="mt-4 mb-2 logo hidden">
                                    <span class="">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original-wordmark.svg" width="50" title="dotnet" />
                                    </span>
                                    <span class="ms-1 me-2">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" width="50" title="C-Sharp" />
                                    </span>
                                    <span class="">
                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" width="50" title="PostgreSQL" />
                                    </span>
                                    <span class="">
                                        <img src="~/img/hotbug/WaveLogoLargeTransparent.png" width="56" title="Wavey" class="ms-3" />
                                    </span>
                                </div>
                                <br />
                                <br />
                            </div>
                            <div class="col-xl-6 col-lg-6 my-auto mt-2 d-flex justify-content-center hidden">
                                <a asp-area="Identity" asp-page="/Account/DemoLogin" class="">
                                    <img src="~/img/hotbug/WaveyDashboardCap2.PNG" class="rounded shadow" width="600" alt="Hotbug demo">
                                </a>

                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <a asp-area="Identity" asp-page="/Account/DemoLogin"
                                   class="btn ripple btn-lg w-lg btn-primary mb-5 mb-md-1 mt-4 mt-md-3 mt-lg-5 me-2 font-weight-bold text-uppercase">
                                    Try The Demo
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--app-content open-->
            <div class="index-bg-imageUpD">

                <!-- ROW-2 FEATURES-->
                <div class="section" id="Features">
                    <div class="row">
                        <div class="col-1 col-md-2"></div>
                        <div class="col-10 col-md-8">
                            <div class="row">
                                <span class="landing-title mt-1"></span>
                                <h2 class="fw-semibold text-start text-dark"><strong>The Features</strong></h2>
                                <h4 class="text-default mb-5 text-start">
                                    Built for security and productivity.
                                </h4>
                                <div class="row mt-md-4 mb-4 logos">
                                    <div class="col-12 col-lg-6 logo hidden">
                                        <div class=" p-2">
                                            <div class="bg-img mb-2 text-left">
                                                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><circle cx="64" cy="64" r="64" fill="#42A3DB" /><path fill="#347CBE" d="M85.5 26.6 66.1 61 33.3 98.6 62.6 128H64c33.7 0 61.3-26 63.8-59.1L85.5 26.6z" /><path fill="#CD2F30" d="M73.1 57.7h-16c3.6 18.7 11.1 36.6 22.1 52.5.3-5 1-9.8 1.8-14.5 4.6 1.3 9.2 2.3 13.7 3-9.7-12.2-17-26.1-21.6-41z" /><path fill="#F04D45" d="M54.9 57.7c-4.6 15-11.9 28.9-21.6 40.9 4.5-.7 9.1-1.7 13.7-3 .9 4.7 1.5 9.5 1.8 14.5 11-15.9 18.4-33.8 22.1-52.5h-16z" /><path fill="#FFF" d="M93.5 52c1.8-1.8 1.8-4.7 0-6.5-1.3-1.3-1.7-3.3-1-5 1-2.4-.1-5-2.5-6-1.7-.7-2.8-2.4-2.8-4.3 0-2.5-2.1-4.6-4.6-4.6-1.9 0-3.5-1.1-4.3-2.8-1-2.4-3.7-3.5-6-2.5-1.7.7-3.7.3-5-1-1.8-1.8-4.7-1.8-6.5 0-1.3 1.3-3.3 1.7-5 1-2.4-1-5 .1-6 2.5-.7 1.7-2.4 2.8-4.3 2.8-2.5 0-4.6 2.1-4.6 4.6 0 1.9-1.1 3.5-2.8 4.3-2.4 1-3.5 3.7-2.5 6 .7 1.7.3 3.7-1 5-1.8 1.8-1.8 4.7 0 6.5 1.3 1.3 1.7 3.3 1 5-1 2.4.1 5 2.5 6 1.7.7 2.8 2.4 2.8 4.3 0 2.5 2.1 4.6 4.6 4.6 1.9 0 3.5 1.1 4.3 2.8 1 2.4 3.7 3.5 6 2.5 1.7-.7 3.7-.3 5 1 1.8 1.8 4.7 1.8 6.5 0 1.3-1.3 3.3-1.7 5-1 2.4 1 5-.1 6-2.5.7-1.7 2.4-2.8 4.3-2.8 2.5 0 4.6-2.1 4.6-4.6 0-1.9 1.1-3.5 2.8-4.3 2.4-1 3.5-3.7 2.5-6-.7-1.7-.3-3.7 1-5z" /><path fill="#FFCD0A" d="M64 70.8c-12.2 0-22.1-9.9-22.1-22.1 0-12.2 9.9-22.1 22.1-22.1 12.2 0 22.1 9.9 22.1 22.1 0 12.2-9.9 22.1-22.1 22.1z" /><path fill="#FFF" d="M59.9 61c-.6 0-1.1-.2-1.5-.7l-8.3-9.2c-.7-.8-.7-2.1.1-2.8.8-.7 2.1-.7 2.8.1l6.7 7.5 15.1-18.8c.7-.9 2-1 2.8-.3.9.7 1 2 .3 2.8L61.4 60.2c-.3.5-.9.8-1.5.8z" /></svg>
                                            </div>
                                            <div class="text-left">
                                                <h4 class="fw-bold">Clean Interface</h4>
                                                <p class="mb-0">
                                                    The Wavey Bug Tracker is built with ease-of-use and productivity in mind.  Find projects, tickets, and team members without the hassle.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 logo hidden">
                                        <div class="p-2">
                                            <div class="bg-img mb-2 text-left">
                                                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 128 128" viewBox="0 0 128 128"><circle cx="64" cy="64" r="63.5" fill="#54C0EB" /><path fill="#84DBFF" d="M19.2,109c11.5,11.4,27.3,18.5,44.8,18.5c17.5,0,33.3-7.1,44.8-18.5H19.2z" /><rect width="19.6" height="10.4" x="54.2" y="92.7" fill="#FFF" /><rect width="19.6" height="2.3" x="54.2" y="92.7" fill="#E6E9EE" /><path fill="#E6E9EE" d="M82.2,109H45.8l0,0c0-3.3,2.7-6,6-6h24.4C79.5,103.1,82.2,105.7,82.2,109L82.2,109z" /><path fill="#324A5E" d="M103,92.7H25c-2.4,0-4.4-2-4.4-4.4V34.7c0-2.4,2-4.4,4.4-4.4h78c2.4,0,4.4,2,4.4,4.4v53.7   C107.4,90.7,105.4,92.7,103,92.7z" /><path fill="#FFF" d="M20.6,84v4.4c0,2.4,1.9,4.3,4.3,4.3H103c2.4,0,4.3-1.9,4.3-4.3V84H20.6z" /><rect width="80.3" height="46.9" x="23.9" y="33.4" fill="#FFF" /><circle cx="100.3" cy="88.3" r="2" fill="#FF7058" /><circle cx="94.7" cy="88.3" r="2" fill="#4CDBC4" /><circle cx="89.1" cy="88.3" r="2" fill="#54C0EB" /><rect width="9.7" height="27.7" x="32.3" y="46.7" fill="#ACB3BA" /><rect width="9.7" height="15.8" x="45.7" y="58.7" fill="#4CDBC4" /><rect width="9.7" height="23.1" x="59.1" y="51.3" fill="#FFD05B" /><rect width="9.7" height="35.7" x="72.6" y="38.7" fill="#84DBFF" /><rect width="9.7" height="8.1" x="86" y="66.3" fill="#FF7058" /></svg>
                                            </div>
                                            <div class="text-left">
                                                <h4 class="fw-bold">User Roles</h4>
                                                <p class="mb-0">
                                                    Create a company and assign roles for admin, project managers, developers, and submitters to your project.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 logo hidden">
                                        <div class="p-2">
                                            <div class="bg-img mb-2 text-left">
                                                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 128 128" viewBox="0 0 128 128"><circle cx="64" cy="64" r="63.5" fill="#54C0EB" /><path fill="#FFF" d="M42.2,96H23.6c-1.6,0-2.8-1.3-2.8-2.8V34.8c0-1.6,1.3-2.8,2.8-2.8h18.6c1.6,0,2.8,1.3,2.8,2.8v58.3   C45.1,94.7,43.8,96,42.2,96z" /><rect width="18.7" height="36.8" x="23.6" y="35.8" fill="#4CDBC4" /><circle cx="32.9" cy="83.9" r="7.2" fill="#E6E9EE" /><circle cx="32.9" cy="83.9" r="5" fill="#324A5E" /><path fill="#FFF" d="M68.8,96H50.2c-1.6,0-2.8-1.3-2.8-2.8V34.8c0-1.6,1.3-2.8,2.8-2.8h18.6c1.6,0,2.8,1.3,2.8,2.8v58.3   C71.6,94.7,70.4,96,68.8,96z" /><rect width="18.7" height="36.8" x="50.1" y="35.8" fill="#FF7058" /><circle cx="59.5" cy="83.9" r="7.2" fill="#E6E9EE" /><circle cx="59.5" cy="83.9" r="5" fill="#324A5E" /><path fill="#FFF" d="M109,92.7l-18,4.6c-1.5,0.4-3.1-0.5-3.5-2.1L73.2,38.7c-0.4-1.5,0.5-3.1,2.1-3.5l18-4.6   c1.5-0.4,3.1,0.5,3.5,2.1l14.3,56.5C111.5,90.8,110.6,92.4,109,92.7z" /><rect width="18.7" height="36.8" x="80.4" y="36.1" fill="#FFD05B" transform="rotate(-14.193 89.778 54.551)" /><circle cx="97" cy="83.2" r="7.2" fill="#E6E9EE" /><circle cx="97" cy="83.2" r="5" fill="#324A5E" /></svg>
                                            </div>
                                            <div class="text-left">
                                                <h4 class="fw-bold">Projects</h4>
                                                <p class="mb-0">
                                                    Maintain the Project Lifecycle.  Create new jobs, assign users,
                                                    then edit, archive, and restore existing projects as needed.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 logo hidden">
                                        <div class="p-2">
                                            <div class="bg-img mb-2 text-left">
                                                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 128 128" viewBox="0 0 128 128"><circle cx="64" cy="64" r="63.5" fill="#FFD05B" /><path fill="#FFF" d="M30,103.8l0-79.7c0-1.8,1.5-3.3,3.3-3.3h50.1l0,11.4c0,1.8,1.5,3.3,3.3,3.3H98l0,68.3   c0,1.8-1.5,3.3-3.3,3.3H33.3C31.5,107.1,30,105.6,30,103.8z" /><path fill="#E6E9EE" d="M83.3,20.9h11.4c1.8,0,3.3,1.5,3.3,3.3l0,11.4H86.6c-1.8,0-3.3-1.5-3.3-3.3L83.3,20.9z" /><path fill="#CED5E0" d="M83.3,20.9h11.4c1.8,0,3.3,1.5,3.3,3.3l0,11.4L83.3,20.9z" /><rect width="54.6" height="2.4" x="36.7" y="50.7" fill="#E6E9EE" /><rect width="54.6" height="2.4" x="36.7" y="58.2" fill="#E6E9EE" /><rect width="54.6" height="2.4" x="36.7" y="65.8" fill="#E6E9EE" /><rect width="54.6" height="2.4" x="36.7" y="73.4" fill="#E6E9EE" /><rect width="23.5" height="2.4" x="67.8" y="80.9" fill="#84DBFF" /><rect width="23.5" height="2.4" x="67.8" y="88.5" fill="#84DBFF" /><rect width="54.6" height="2.4" x="36.7" y="43.1" fill="#E6E9EE" /><rect width="29.6" height="2.4" x="36.7" y="35.6" fill="#84DBFF" /><path fill="#FF7058" d="M41.1,83.3c-4.4,4.4-4.4,11.5,0,15.9s11.5,4.4,15.9,0c4.4-4.4,4.4-11.5,0-15.9   C52.6,78.9,45.5,78.9,41.1,83.3z M41.9,84.1c3.4-3.4,8.7-3.8,12.6-1.3l-1.6,1.6c-3-1.7-6.9-1.3-9.5,1.2c-2.6,2.6-3,6.5-1.2,9.5   l-1.6,1.6C38.1,92.8,38.5,87.5,41.9,84.1z M43.1,94.3c-1.3-2.5-0.9-5.7,1.2-7.7c2.1-2.1,5.2-2.5,7.7-1.2L43.1,94.3z M54.9,88.2   c1.3,2.5,0.9,5.7-1.2,7.7c-2.1,2.1-5.2,2.5-7.7,1.2L54.9,88.2z M56.1,98.3c-3.4,3.4-8.7,3.8-12.6,1.3l1.6-1.6   c3,1.7,6.9,1.3,9.5-1.2c2.6-2.6,3-6.5,1.2-9.5l1.6-1.6C60,89.6,59.5,94.9,56.1,98.3z" /></svg>
                                            </div>
                                            <div class="text-left">
                                                <h4 class="fw-bold">Tickets</h4>
                                                <p class="mb-0">
                                                    Change the status, priority, and type throughout a ticket's
                                                    life. Add attachments and comments for specificity, and review ticket history.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 logo hidden">
                                        <div class="p-2">
                                            <div class="bg-img mb-2 text-left">
                                                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 128 128" viewBox="0 0 128 128"><circle cx="64" cy="64" r="63.5" fill="#90DFAA" /><path fill="#FFF" d="M95.8,19.4H32.2c-1.9,0-3.4,1.5-3.4,3.4v82.5c0,1.9,1.5,3.4,3.4,3.4h63.7c1.9,0,3.4-1.5,3.4-3.4V22.7   C99.2,20.9,97.7,19.4,95.8,19.4z" /><polygon fill="#324A5E" points="88.5 90.2 43 90.2 43 34.2 39.5 34.2 39.5 93.8 88.5 93.8" /><rect width="4.9" height="44.8" x="48" y="41.3" fill="#FF7058" /><rect width="4.9" height="38.3" x="58.1" y="47.8" fill="#84DBFF" /><rect width="4.9" height="31.2" x="68.3" y="54.9" fill="#FFD05B" /><rect width="4.9" height="22.7" x="78.4" y="63.3" fill="#CED5E0" /></svg>
                                            </div>
                                            <div class="text-left">
                                                <h4 class="fw-bold">Security</h4>
                                                <p class="mb-0">
                                                    Individual accounts are tied to one Company and are
                                                    securely managed through ASP.NET Core Identity standards.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 logo hidden">
                                        <div class="mb-4 p-2">
                                            <div class="bg-img mb-2 text-left">
                                                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 128 128" viewBox="0 0 128 128"><circle cx="64" cy="64" r="63.5" fill="#54C0EB" /><path fill="#FFF" d="M28.8,22.7v82.5c0,1.9,1.5,3.4,3.4,3.4H84V96.8c0-1.9,1.5-3.4,3.4-3.4h11.8V22.7c0-1.9-1.5-3.4-3.4-3.4   H32.2C30.3,19.4,28.8,20.9,28.8,22.7z" /><path fill="#E6E9EE" d="M84,108.6h11.8c1.9,0,3.4-1.5,3.4-3.4V93.5H87.4c-1.9,0-3.4,1.5-3.4,3.4V108.6z" /><path fill="#CED5E0" d="M84,108.6h11.8c1.9,0,3.4-1.5,3.4-3.4V93.5L84,108.6z" /><rect width="6.3" height="11.8" x="47.6" y="39.6" fill="#CED5E0" /><rect width="6.3" height="21.1" x="56.4" y="30.3" fill="#FFD05B" /><rect width="6.3" height="17.1" x="65.3" y="34.2" fill="#84DBFF" /><rect width="6.3" height="24.5" x="74.2" y="26.8" fill="#FF7058" /><rect width="37.4" height="1.8" x="45.3" y="51.4" fill="#324A5E" /><rect width="52.7" height="2.6" x="37.7" y="73.5" fill="#E6E9EE" /><rect width="52.7" height="2.6" x="37.7" y="67.2" fill="#E6E9EE" /><rect width="52.7" height="2.6" x="37.7" y="60.9" fill="#E6E9EE" /><rect width="52.7" height="2.6" x="37.7" y="79.7" fill="#E6E9EE" /><rect width="38" height="2.6" x="37.7" y="86" fill="#E6E9EE" /></svg>
                                            </div>
                                            <div class="text-left">
                                                <h4 class="fw-bold">Communication</h4>
                                                <p class="mb-0">
                                                    Stay informed with Hotbug's live charts, graphs, notifications and messages.
                                                    Send invitations to project members with assigned tasks.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-2"></div>
                    </div>
                </div>
                <!-- ROW-3 TECH -->
                <div class="section mt-5 mb-5 px-2 active">
                    <div class="row">
                        <div class="col-1 col-md-2"></div>
                        <div class="col-10 col-md-8">
                            <div class="card-dark mt-2">
                                <span class="landing-title"></span>
                                <div class="pt-2">
                                    <div class="pt-2">
                                        <h2 class="mt-4 text-start fw-semibold text-dark">
                                            <strong>The Tech</strong>
                                        </h2>
                                        <h4 class="text-default mb-md-5 text-start">
                                            Built with the following tech:
                                        </h4>
                                        <div class="row active">
                                            <div class="col-lg-12 px-0 mb-4">
                                                <div class="row card-row my-3 mx-2 mx-md-4 d-flex justify-content-between logos">
                                                    <div class="col-12 col-md-4">
                                                        <div class="row">
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">ASP.NET</h6>
                                                            </div>
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">C#</h6>
                                                            </div>
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">Postgre</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="row">
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">JavaScript</h6>
                                                            </div>
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">JQuery</h6>
                                                            </div>
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">Bootstrap</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="row">
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">HTML5</h6>
                                                            </div>
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">CSS3</h6>
                                                            </div>
                                                            <div class="text-center col-4 mt-5 logo hidden">
                                                                <img img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="50" alt="img">
                                                                <h6 class="mt-3 text-dark">GitHub</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-2"></div>
                    </div>
                </div>
                <!-- ROW-3 DEMO -->
                <div class="section bg-landing working-section bg-white-2" id="About">
                    <div class="row mt-5">
                        <div class="col-1 col-md-2"></div>
                        <div class="col-10 col-md-8">
                            <div class="row mt-xl-5">
                                <h2 class="text-start fw-semibold landing-card-header mt-xl-5 mb-xl-1 text-primary"><strong>The Demo</strong></h2>
                                <span class="landing-title"></span>
                                <div class="text-start">
                                    <h4 class="text-start fw-semibold mb-xl-5">
                                        Try the demo as multiple roles:
                                    </h4>
                                </div>
                                <div class="col-lg-12">
                                    <div class="statistics-info">
                                        <div class="row logos">
                                            <!-- ADMIN DEMO -->
                                            <div class="col-md-4 mt-xl-1 active logo hidden">
                                                <div class="mt-3 mt-lg-2 px-3 py-3">
                                                    <form id="account" method="post">
                                                        <h4 class="text-dark"><span class="me-2"><img src="~/img/hotbug/hbAdminDarkImg.png" width="22"></span>Administrator</h4>
                                                        <hr />
                                                        <p class="text-dark">Try out Wavey Bug Tracker as the organization's administrator.  Experience the full toolset of Wavey!</p>
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-floating">
                                                        </div>
                                                        <div class="form-floating">
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                            <!-- PROJECT MANAGER DEMO -->
                                            <div class="col-md-4 mt-xl-1 active logo hidden">
                                                <div class="mt-4 mt-lg-2 px-3 py-3">
                                                    <form id="account" method="post">
                                                        <h4 class="text-dark"><span class="me-2"><img src="~/img/hotbug/hbPmDarkImg.png" width="26" class=""></span>Project Manager</h4>
                                                        <hr />
                                                        <p class="text-dark">Create and manage projects. Assign developers, archive tickets, and restore tickets through the lifecycle.</p>
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-floating">
                                                        </div>
                                                        <div class="form-floating">
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                            <!-- DEVELOPER DEMO -->
                                            <div class="col-md-4 mt-xl-1 active logo hidden">
                                                <div class="mt-4 mt-lg-2 px-3 py-3">
                                                    <form id="account" method="post">
                                                        <h4 class="text-dark"><span class="me-2"><img src="~/img/hotbug/hbDevDarkImg.png" width="26" class=""></span>Developer</h4>
                                                        <hr />
                                                        <p class="text-dark">View projects, create tickets, and notate changes. Update ticket statuses, priorities, types and send invites.</p>
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-floating">
                                                        </div>
                                                        <div class="form-floating">
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mt-4 mb-5">
                                            <a asp-area="Identity" asp-page="/Account/DemoLogin"
                                               class="btn ripple btn-lg w-lg btn-primary mb-5 mb-md-1 mt-3 mt-lg-2 me-2 font-weight-bold text-uppercase" target="_blank">
                                                Try The Demo
                                            </a>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-3 CLOSED -->
    </div>
    </div>
    <!--app-content closed-->
    </div>
    <!-- FOOTER OPEN -->
    <div class="demo-footer">
        <div class="container">
            <div class="row">
                <div class="top-footer">
                    <div class="main-container">
                        <div class="container-fluid text-center pb-5">
                            <span> Copyright © 2023 <a href="javascript:void(0);" class="text-primary">Wavey</a>. Designed by <a href="https://steveszymanski.com/"> Steve Szymanski </a> All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER CLOSED -->
    </div>
</body>



</html>


