@page
@model DemoLoginModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Demo Log in";
}

@{
    Layout = null;
}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4">

    <link rel="icon" type="image/png" sizes="32x32" href="~/img/hotbug/WaveyFav2.png" />
    <!-- Title -->
    <title>Wavey Demo Login</title>
    <!-- CSS -->
    <link href="~/css/site.css" rel="stylesheet">
    <!-- Bootstrap css -->
    <link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="overflow-hidden">
    <body class="demoLogin-bg-image">
        <div class="row mt-5 mt-lg-2 mb-4">
            <div class="col-12 mb-4">
                <span class="d-flex justify-content-center me-1"><span class=""><img src="~/img/hotbug/WaveyCardTransparentBg.png" width="220" /></span></span>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-8 mt-2 mx-5 mx-lg-0 fw-semibold league-spartan">
                <h2 class="text-center"><strong>Catch The Wave!</strong></h2>
                <h4 class="text-start mt-4 ms-3">Try Wavey as different roles:</h4>
                <div class="row mt-4">
                    <!-- ADMIN DEMO -->
                    <div class="col-md-4 mb-4 px-4">
                        <form id="account" method="post">
                            <hr />
                            @* <h5 class="text-secondary mx-3">
                                <span class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-fill-gear px-1 bg-primary-gradient border rounded mb-1 me-2" viewBox="0 0 16 16">
                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                    </svg>
                                </span>
                                Use the Admin toolset</h5> *@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input hidden asp-for="Input.Email" value="demo.admin@bugtrackerpro.com" class="form-control mb-3" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input hidden asp-for="Input.Password" value="S3cureP@ssword" class="form-control mb-2" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mt-1 font-weight-bold league-spartan text-uppercase">
                                    Administrator
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- PROJECT MANAGER DEMO -->
                    <div class="col-md-4 mb-4 px-4">
                        <form id="account" method="post">
                            <hr />
                            @* <h5 class="text-secondary mx-3">
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-people-fill px-1 bg-dark border rounded mb-1" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                    </svg>
                                </span>
                                Manage projects & teams</h5> *@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input hidden asp-for="Input.Email" value="demo.pm@bugtrackerpro.com" class="form-control mb-3" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Password" hidden value="S3cureP@ssword" class="form-control mb-2" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark mt-1 text-lg font-weight-bold text-uppercase">
                                    Project Manager
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- DEVELOPER DEMO -->
                    <div class="col-md-4 mb-5 mb-lg-0 px-4">
                        <form id="account" method="post">
                            
                            <hr />
                            @* <h5 class="text-secondary mx-3">
                                <span class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-fill px-1 bg-dark border rounded mb-1" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>
                                </span>
                                Create and edit tickets</h5> *@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input asp-for="Input.Email" hidden value="demo.dev@bugtrackerpro.com" class="form-control mb-3" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Password" hidden value="S3cureP@ssword" class="form-control mb-2" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="mb-5 mb-lg-0">
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark mt-1 hb-button font-weight-bold text-uppercase">
                                    Developer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </body>
    <!-- FOOTER OPEN -->
    <div class="card-footer fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="top-footer">
                    <div class="main-container">
                        <div class="container-fluid text-center pb-1">
                            <span> Copyright © 2023 <a href="javascript:void(0);" class="text-primary">Wavey</a>. Designed by <a href="https://steveszymanski.com/"> Steve Szymanski </a> All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER CLOSED -->
</div>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

