@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-5 ps-1 ms-1 ps-md-0 ms-md-0">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card bg-light">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="text-center mt-4">
                    <h2>Create A New Account.</h2>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 mt-5">
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.Email" class="form-control mb-3" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="ms-3 ms-md-0"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.FirstName" class="form-control mb-3" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.FirstName" class="ms-3 ms-md-0"></label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.LastName" class="form-control mb-3" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.LastName" class="ms-3 ms-md-0"></label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.CompanyName" class="form-control mb-3" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.CompanyName" class="ms-3 ms-md-0"></label>
                            <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 mt-md-5">
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.CompanyDescription" class="form-control mb-3" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.CompanyDescription" class="ms-3 ms-md-0"></label>
                            <span asp-validation-for="Input.CompanyDescription" class="text-danger"></span>
                        </div>
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.Password" class="form-control mb-3" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password" class="ms-3 ms-md-0"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating px-3 px-md-0">
                            <input asp-for="Input.ConfirmPassword" class="form-control mb-3" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword" class="ms-3 ms-md-03"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="ms-3 ms-md-0 me-3 me-md-0 mb-3 mb-md-5">
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary py-3">Register</button>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                 
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
