:root {
    --hotbug-dark-color: #052247;
}

.hotbug-dark {
    background-image: var(--hotbug-dark-color);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}